# Compiled class file
.DS_Store
*.class
target
build
nbproject
.settings
**/upload
.project
.classpath
.idea/**
**/.idea/**
*.iml

# npm artifacts
**/node_modules

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

**/*.mv.db
**/*.trace.db
**/data/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*